*,*::after,*::before{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
img {
    max-width: 100%;
}
body {
    background: hsl(226, 43%, 10%);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.component_first {
    background: hsl(235, 46%, 20%);
    color: white;
    border-radius: 1.2rem;
    width: 90%;
    margin: 0 auto;
}

.profile {
    display: flex;
    justify-content: center;
    background: hsl(230, 76%, 36%);
    padding: 1.7rem 0;
    border-radius: 1.2rem;
}

.profile_photo {
    border-radius: 100%;
    outline: 5px solid white;
    margin-right: 1.7rem;
    width: 70px;
    height: 70px;
}

.profile_pic {
    /* width: 100px;
    height: 100px; */
}
.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_info p {
    margin-top: .4rem;
}
.profile span {
    color: hsl(235, 45%, 61%);
    font-size: 1rem;
}
.profile p {
    font-size: 1.3rem;
}

.profile_footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    color: hsl(235, 45%, 61%);
}
.profile_footer p:hover {
    color: white;
    cursor: pointer;
}

/* - Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%) */


